header {
    padding: 1.75%;
    font-size: 40px;
    text-align: center;
    color: pink;
    background-color: purple;
    /* font-family: 'Piazzolla', serif; */
};

#searchBtn {
    border-radius: 20%;
    background-color: grey;
    color: white;
};
  

main {
    margin: 20%;
    padding: 20%;
    font-family: 'Piazzolla', serif;
    background-color: purple;
    
};

